{% extends 'base.html' %}
{% block timetable-page %}
<div class="container my-4">
	<div class="container my-4">
  <div class="fs-2 mb-3 mx-4" style="color:#6C757D;"><i class="bi bi-calendar3" style="font-size: 3rem; color:;"></i> Расписание</div>
	<div class="container">
  <div class="row row-cols-2 my-4">
    <div class="col"><div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header"><h4>Понедельник</h4></div>
  <div class="card-body">
    <h5 class="card-title">1) Проектирование програмных систем</h5>
    <p class="card-text">Лаборатория</p>
    <hr>
    <h5 class="card-title">2) Педагогика и Психология</h5>
    <p class="card-text">Семинар</p>
    <hr>
    <h5 class="card-title">3) Человек и компьютер</h5>
    <p class="card-text">Практика</p>
    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
  </div>
</div></div>
    <div class="col"><div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header"><h4>Четверг</h4></div>
  <div class="card-body">
        <h5 class="card-title">1) Парадигмы</h5>
    <p class="card-text">Лекция</p>
    <hr>
    <h5 class="card-title">2) Педагогика и Психология</h5>
    <p class="card-text">Лекция</p>

  </div>
</div></div>
    <div class="col"><div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header"><h4>Вторник</h4></div>
  <div class="card-body">
        <h5 class="card-title">1) Человек и компьютер</h5>
    <p class="card-text">Лекция</p>
    <hr>
    <h5 class="card-title">2) Парадигмы</h5>
    <p class="card-text">Лаборатория</p>
  </div>
</div></div>
    <div class="col"><div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header"><h4>Пятница</h4></div>
  <div class="card-body">
        <h5 class="card-title">1) Компьтерные сети</h5>
    <p class="card-text">Лекция</p>
    <hr>
    <h5 class="card-title">2) Кураторский час</h5>
    <p class="card-text">Семинар</p>
  </div>
</div></div>
    <div class="col"><div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header"><h4>Среда</h4></div>
  <div class="card-body">
    <h5 class="card-title">1) Компьтерные сети</h5>
    <p class="card-text">Лекция</p>
    <hr>
    <h5 class="card-title">2) Парадигмы</h5>
    <p class="card-text">Практика</p>
    <hr>
    <h5 class="card-title">3) Человек и компьютер</h5>
    <p class="card-text">Лекция</p>
  </div>
</div></div>
    <div class="col"><div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header"><h4>Суббота</h4></div>
  <div class="card-body">
        <h5 class="card-title">1) Проектирование програмных систем</h5>
    <p class="card-text">Практика</p>
    <hr>
    <h5 class="card-title">2) Компьтерные сети</h5>
    <p class="card-text">Лаборатория</p>
    <hr>
    <h5 class="card-title">3) Человек и компьютер</h5>
    <p class="card-text">Лекция</p>
  </div>
</div></div>
  </div>
</div>
</div>
{% endblock %}